%h1 All Recently Created Highlights

%div.highlights{style: "margin-bottom: 30px;"}
  - @highlights.each do |highlight|
    %h3= link_to highlight.title, highlight

- if user_signed_in? && current_user
  = link_to "Create New Highlight", new_highlight_path, class: "btn btn-primary"
- else
  Want to create a new highlight?
  = link_to "Sign up now!", new_user_registration_path
  or
  = link_to "Sign in", new_user_session_path
